$color1: black;
$color2: white;
$color3: #D9D9D9;
$color4: #7F7F7F;
$color5: rgba(0, 0, 0, 0.3);

$font1: 'Stick No Bills', sans-serif;
$font2: Roboto, Tahoma, Geneva, Verdana, sans-serif;

$titpc: 20px;
$stitpc: 18px;
$textpc: 16px;
$titmob: 18px;
$stitmob: 16px;
$textmob: 14px;
$headerpc: 18px;
$sheaderpc: 16px;
$headermob: 13px;
$sheadermob: 11px;
$footer: 10px;