body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .logo__titulo--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 300px;
    height: 80px;
    z-index: 50000;
  }
  .logo--size {
    height: 30px;
    z-index: 50000;
  }
  .title--size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 50000;
  }
  h1 {
    color: white;
    font-family: "Stick No Bills", sans-serif;
    letter-spacing: 4px;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    padding-left: 50px;
    margin-bottom: 0;
    font-weight: 700;
    z-index: 50000;
  }
  .navbar {
    padding: 0;
    color: white;
    z-index: 50000;
  }
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 20px;
    width: 300px;
    z-index: 50000;
  }
  .container-fluid {
    background-color: black;
    width: 100vw;
    z-index: 50000;
  }
  .navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
    z-index: 50000;
  }
  .nav-link:hover {
    font-weight: bolder;
    z-index: 50000;
  }
}

@media screen and (max-width: 400px) {
  .logo__titulo--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 50000;
  }
  .logo--size {
    height: 25px;
    z-index: 50000;
  }
  .title--size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50000;
  }
  h1 {
    color: white;
    font-family: "Stick No Bills", sans-serif;
    letter-spacing: 4px;
    font-size: 13px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    z-index: 50000;
  }
  .navbar {
    padding: 0;
    color: white;
    background-color: black;
    z-index: 50000;
  }
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0;
    width: 100px;
    z-index: 50000;
  }
  .container-fluid {
    background-color: black;
    width: 100vw;
    z-index: 50000;
  }
  .navbar-dark .navbar-toggler {
    color: black;
    border-color: black;
    z-index: 50000;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
  }
}

.footer--frame {
  background-color: black;
  color: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer--text {
  color: white;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-style: normal;
  margin: left;
  padding-left: 10px;
}

.footer--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: right;
  padding-right: 10px;
  min-width: 200px;
  color: white;
  text-decoration: none;
  list-style: none;
}

.icons--hover {
  text-decoration: none;
  color: white;
}

.icons--hover:hover {
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

@media (min-width: 992px) {
  .carousel__img {
    max-width: 100%;
    height: 998px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile--frame {
    display: none;
  }
  .btn {
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: transparent;
    color: #D9D9D9;
    border: none;
    border-radius: 0;
    border: solid #D9D9D9;
    opacity: 0.7;
  }
  .btn:hover {
    background-color: transparent;
    color: #D9D9D9;
    border: solid #D9D9D9;
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .carousel__img {
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .estudio__home--img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .btn-secondary {
    display: none;
  }
  .mobile--frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text__mobile--frame {
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  .title__mobile {
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 0;
    font-weight: 700;
  }
  .text__project--mobile {
    color: #7F7F7F;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
  .btn__home {
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: white;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 10px;
  }
  .btn__home:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
}

@media (max-width: 770px) {
  .carousel__img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .estudio__home--img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .btn-secondary {
    display: none;
  }
}

@media (max-width: 400px) {
  .carousel__img {
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .estudio__home--img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .btn-secondary {
    display: none;
  }
}

@media (min-width: 992px) {
  .mainAside--container {
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__tienda {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 90%;
    padding: 10px 50px 0px 50px;
  }
  #categoria {
    height: 60px;
    padding: 0;
    border: 0;
    width: 100px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  #buscar {
    height: 60px;
    width: 500px;
    border: none;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  #buscar:focus {
    height: 60px;
    width: 500px;
    border: none;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  #boton-carrito {
    height: 60px;
    border: none;
    color: black;
    background-color: white;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 100px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-floating i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: pointer;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .btn-floating i:hover {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  .btn-floating i:active {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    background-color: #7F7F7F;
  }
  .material-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
  }
  .card-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: none;
    margin: 0;
  }
  #boton-carrito:hover {
    cursor: pointer;
    color: #D9D9D9;
  }
  #boton-carrito:focus {
    outline: none;
  }
  #contadorCarrito {
    padding-left: 5px;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  .info--producto {
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    color: #7F7F7F;
    font-size: 16px;
    margin: 0;
  }
  p {
    padding-left: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: auto;
  }
  #contenedor-productos {
    max-width: 90%;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 0;
  }
  .producto {
    width: 30%;
    padding: 10px;
  }
  .card .card-image img {
    display: block;
    border-radius: none;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .nombre--carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  .card {
    color: black;
    position: unset;
    border: 0.5px solid #D9D9D9;
    border-radius: none;
  }
  .card-image .card-title {
    color: black;
  }
}

@media (max-width: 992px) {
  .menu__tienda {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 90%;
    padding: 10px 50px 0px 50px;
  }
  #categoria {
    height: 60px;
    padding: 0;
    border: 0;
    width: 100px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  #buscar {
    height: 60px;
    padding: 0;
    width: 500px;
    border: none;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
  #buscar:focus {
    height: 60px;
    width: 500px;
    border: none;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  #boton-carrito {
    height: 60px;
    padding: 0;
    border: none;
    color: black;
    background-color: white;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 100px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0;
    text-align: center;
  }
  .btn-floating i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: pointer;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .btn-floating i:hover {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
  .btn-floating i:active {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    background-color: #7F7F7F;
  }
  .material-icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: auto;
  }
  .card-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: none;
    margin: 0;
  }
  #boton-carrito:hover {
    cursor: pointer;
    color: #D9D9D9;
  }
  #boton-carrito:focus {
    outline: none;
  }
  #contadorCarrito {
    padding-left: 5px;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  .info--producto {
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    color: #7F7F7F;
    font-size: 16px;
    margin: 0;
  }
  p {
    padding-left: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: auto;
  }
  #contenedor-productos {
    max-width: 90%;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    z-index: 0;
  }
  .producto {
    min-width: 50%;
    padding: 10px;
  }
  .card .card-image img {
    display: block;
    border-radius: none;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .nombre--carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  .card {
    color: black;
    position: unset;
    border: 0.5px solid #D9D9D9;
    border-radius: none;
  }
  .card-image .card-title {
    color: black;
  }
  .modal-carrito {
    position: relative;
    background-color: white;
    min-width: 300px;
    padding: 20px;
    margin-top: -100%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .productoEnCarrito {
    border-left: 5px solid #D9D9D9;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 300px;
  padding: 20px;
  margin-top: -100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: black;
  padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: black;
  border: none;
  background-color: white;
}

.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
  outline: none;
}

.modal-carrito .precioProducto {
  padding-top: 10px;
}

.productoEnCarrito {
  border-left: 5px solid #D9D9D9;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.productoEnCarrito:hover {
  border-left: 5px solid black;
}

.boton-eliminar {
  background-color: white;
  color: black;
  border: none;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

@media (min-width: 992px) {
  .servicios--frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicio1--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .servicio2--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #D9D9D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .servicio3--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .img__servicio--container {
    width: 50vw;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .servicio__img {
    margin: auto;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    max-width: 50vw;
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }
  .servicio__text {
    margin: 0px;
    text-align: center;
    color: #7F7F7F;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  h3 {
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  .contacto--link {
    text-decoration: none;
    color: black;
  }
  .contacto--hover:hover {
    color: black;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .servicios--frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicio1--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .servicio2--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #D9D9D9;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .servicio3--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 100%;
  }
  .img__servicio--container {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .servicio__img {
    margin: auto;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    max-width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
  }
  .servicio__text {
    margin: 0px;
    text-align: center;
    color: #7F7F7F;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  h3 {
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  .contacto--link {
    text-decoration: none;
    color: black;
  }
  .contacto--hover:hover {
    color: black;
    font-weight: 700;
  }
}

@media (min-width: 1100px) {
  .contact--style {
    height: 998px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main--location {
    height: 998px;
    width: 65vw;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #D9D9D9;
  }
  .icons--contact {
    width: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icons--contact p {
    padding-top: 15px;
  }
  .contact__text {
    background-color: #D9D9D9;
    color: black;
    height: 250px;
    width: 65vw;
    margin: 0px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .location--size {
    height: 748px;
    width: 65vw;
    margin: 0px;
    overflow: hidden;
  }
  .form--size {
    height: 998px;
    width: 35vw;
    margin: 0px;
    text-align: center;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__imput--style {
    width: 30vw;
    height: 40px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 12px;
  }
  .form__txtarea--style {
    width: 30vw;
    height: 160px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 12px;
    resize: none;
  }
  .form__imput--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__txtarea--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__imputcb--style {
    width: 30vw;
    height: 80px;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 40px;
    padding-left: 80px;
  }
  .button__submit {
    width: 30vw;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    border: none;
  }
  .button__submit:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
  .button__reset {
    width: 30vw;
    height: 40px;
    background-color: #7F7F7F;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-top: 12px;
    border: none;
  }
  .button__reset:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .contact--style {
    width: 100%;
    height: 900px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main--location {
    height: 500px;
    width: 100%;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons--contact {
    width: 33vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icons--contact p {
    padding-top: 15px;
  }
  .contact__text {
    background-color: #D9D9D9;
    color: black;
    height: 250px;
    width: 100%;
    margin: 0px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  h3 {
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  .location--size {
    height: 250px;
    width: 100%;
    margin: 0px;
  }
  .form--size {
    height: 400px;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__imput--style {
    width: 85vw;
    height: 25px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
  }
  .form__txtarea--style {
    width: 85vw;
    height: 75px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    resize: none;
  }
  .form__imput--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__txtarea--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__imputcb--style {
    width: 85vw;
    height: 50px;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 18px;
    padding-left: 80px;
  }
  .button__submit {
    width: 85vw;
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    border: none;
  }
  .button__submit:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
  .button__reset {
    width: 85vw;
    height: 25px;
    background-color: #7F7F7F;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    border: none;
  }
  .button__reset:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
}

@media (max-width: 750px) {
  .contact--style {
    width: 100%;
    height: 900px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main--location {
    height: 500px;
    width: 100%;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icons--contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: black;
  }
  .icons--contact p {
    padding-left: 10px;
    padding-top: 5px;
  }
  .contact__text {
    background-color: #D9D9D9;
    color: black;
    height: 200px;
    width: 100%;
    margin: 0px;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 20px;
  }
  h3 {
    margin: 0px;
    text-align: center;
    color: black;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    padding: 10px;
    overflow: hidden;
  }
  .location--size {
    height: 300px;
    width: 100%;
    margin: 0px;
  }
  .form--size {
    height: 400px;
    width: 100%;
    margin: 0px;
    text-align: center;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__imput--style {
    width: 85vw;
    height: 25px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
  }
  .form__txtarea--style {
    width: 85vw;
    height: 75px;
    border: 3px solid black;
    text-align: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    resize: none;
  }
  .form__imput--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__txtarea--style:focus {
    background: #D9D9D9;
    color: black;
  }
  .form__imputcb--style {
    width: 85vw;
    height: 50px;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 18px;
    padding-left: 80px;
  }
  .button__submit {
    width: 85vw;
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    border: none;
  }
  .button__submit:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
  .button__reset {
    width: 85vw;
    height: 25px;
    background-color: #7F7F7F;
    color: white;
    text-align: center;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-top: 12px;
    border: none;
  }
  .button__reset:hover {
    -webkit-transform: scale(1.02, 1.02);
            transform: scale(1.02, 1.02);
  }
}
/*# sourceMappingURL=styles.css.map */